name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Test (${{ matrix.os }}, ${{ matrix.config.name }})
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-24.04
        - ubuntu-24.04-arm
        config:
        - { name: "Standard", tags: "", flags: "-race" }
        - { name: "Pure Go",  tags: "purego", flags: "" }
        exclude:
          - os: ubuntu-24.04-arm
            config: { name: "Pure Go", tags: "purego", flags: "" }
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: 'stable'
        cache: true

    - name: Build
      run: go build -v -tags "${{ matrix.config.tags }}" ./...

    - name: Test
      run: go test -v ${{ matrix.config.flags }} -tags "${{ matrix.config.tags }}" ./...

  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: 'stable'
        cache: false

    - name: Lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
        args: --timeout=5m